body{
    font-family: sans-serif;
}

div.question{
    margin-left: 10px;
}

h2{
    font-size: 150%;
}

.question-input, .question-label{
    margin: 10px;
}

.previous-btn{
    display: none
}

.predict-btn{
    display: none;
}
