body{
    font-family: sans-serif;
}
div.question{
    margin-left: 10px;
}
h2{
    font-size: 150%;
}
.question-input, .question-label{
    margin: 10px;
}
.previous-btn{
    visibility: hidden;
}

submit-btn{
    visibility: hidden;
}
.col{
    display: inline;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin: 20px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-circle:focus{
    outline:0 !important;
}

.response-btn:focus {
    background-color: black;
}

.btn-selected{
    background-color: black;
}

