body{
    background-color: #9BD7D1;
}
.playlist-image{
    width: inherit;
}
.playlist{
    width: 300px;
    margin: 20px 10px;
    -webkit-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
}
h2{
    text-align: justify;
    text-shadow: 1px 1px #616161;
}
h1{
    text-shadow: 1px 1px #616161;
    text-align: center;
    font-size: 200%;
    margin: 50px;
}
#header{
    font-size: 180%;
}
.animation{
    visibility: hidden;
}
.col{
  justify-items: center;
  align-items: center;
}
img{
    transition: all .5s cubic-bezier(0.42, 0, 0.06, 2.03);
}
img:hover{
    transform: scale(1.1);
}
.btn-circle.btn-xl {
    width: 100px;
    height: 50px;
    font-size: 12px;
    line-height: 1;
    margin: 20px;
    -webkit-box-shadow: 5px 5px 133px -44px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 133px -44px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 133px -44px rgba(0,0,0,0.75);
}
.form-buttons{
    display:inline;
    text-align:center;
}
.response-btn:focus{
    color: #F26627;
}
.response-btn{
    background-color: white;
    color: #325d79
}
.response-btn:hover{
    color: #F26627;
}
.make-better-text-col{
    text-shadow: 1px 1px #616161;
    text-align: center;
    margin-top: 15px;
}
.buttons-col{
    text-align:center;
}
.submit-btn{
    background-color: #27ae60;
    color: #EFEEEE;
    text-align:center;
    display: inline;
}