div.question{
    margin-left: 10px;
}
.question-input, .question-label{
    margin: 10px;
}
.previous-btn{
    visibility: hidden;
}
.submit-btn{
    background-color: #27ae60;
    color: #EFEEEE;
    float: right;
    display: inline;
    visibility: hidden;
}
.submit-btn:focus{
    color: #EFEEEE;
}
.submit-btn:hover{
    color: #EFEEEE;
    background-color: #2ecc71;
}
.input-text{
    display: none;
}
.col{
    display: inline;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1;
    margin: 20px;
    -webkit-box-shadow: 5px 5px 133px -44px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 133px -44px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 133px -44px rgba(0,0,0,0.75);
}
.btn:focus{
    outline:0 !important;
}
.response-btn:focus{
    color: #F26627;
}
.response-btn{
    background-color: #9bd7d1;
    color: #325d79
}
.response-btn:hover{
    color: #F26627;
}
.btn-selected{
    background-color: #325d79;
    color: #F26627;
}
.form {
    width: 665px;
    height: 260px !important;
    position: relative;
    margin: 50px auto;
    background: #fafafa;
    border-radius: 60px;
    height: 286px;
    -webkit-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
}
.nav-btn{
    background-color: #F26627;
    color: #EFEEEE;
}
.nav-btn:hover{
    background-color: #F9A26C;
    color: #EFEEEE;
}
.nav-btn:focus{
    color: #EFEEEE;
}
.question-title{
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
}
h1{
    text-align: center;
    font-size: 300%;
}
.error-text{
    color: #F18C8E;
    font-size: 110%;
    display: inline;
    visibility: hidden;
}
form{
    display: inline;
}
#container {
  margin: 20px;
  width: 70px;
  height: 70px;
  display: inline;
  position: fixed !important;
}
.form-buttons{
    display:inline;
}